<%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "Event Name" %>
    <%= form.text_field :event_name %>
  </div>

  <div class="field">
    <%= form.label "Date & Time" %>
    <%= form.datetime_select :event_datetime %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
