<p id="notice"><%= notice %></p>

<h1>Event Manager</h1>

<% if @events.any? %>
	<br>
	<h2>List of Events</h2>

<br>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Date & Time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.event_name %></td>
        <td><%= event.event_datetime %></td>
        <td><%= link_to 'Attendees', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Cancel', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% else %>
	<h3> There are no events!</h3>

<% end %>

<br>

<%= link_to 'New Event', new_event_path %>
<br>

<% if @events.any? %>
<%= link_to 'Check in to Event', new_checkin_path %>
<% end %>
