<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.event_name %>
</p>

<p>
  <strong>Date & Time:</strong>
  <%= @event.event_datetime %>
</p>

<div class="col-md-8">
    <% if @event.checkins.any? %>
      <h3>Attendees (<%= @event.checkins.count %>)</h3>

        <table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Check In Time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @checkins.each do |checkin| %>
      <tr>
        <td><%= checkin.email %></td>
        <td><%= checkin.created_at %></td>
        <td><%= link_to 'Show', checkin %></td>
        <td><%= link_to 'Edit', edit_checkin_path(checkin) %></td>
        <td><%= link_to 'Check Out', checkin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
	</table>

<% else %>
	<h3> There are no attendees checked in!</h3>
      
    <% end %>
  </div>




<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
