<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @checkin.email %>
</p>

<p>
  <strong>Event:</strong>
  <%= @checkin.event.event_name %>
</p>

<%= link_to 'Edit', edit_checkin_path(@checkin) %> |
<%= link_to 'Back', @checkin.event %>
